<li><%= link_to "Home", :url => '/' %></li>
<li><%= link_to "About This Blog", :url => '/about' %></li>
<li><%= link_to "Articles", articles_path %></li>
<li><%= link_to "Contact", :url => '/contact' %></li>